In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df = pd.read_csv("listings.csv")
df

c:\Users\sunny\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,2019-11-04,0.33,3,338,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75,1,409,2021-10-22,4.86,1,194,32,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2016-06-05,0.52,2,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,2,2021-08-08,0.02,1,123,1,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,68,2,507,2021-11-08,3.68,1,192,33,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38272,53662330,"HUGE PRIVATE ROOM, AWESOME LOCATION",100146245,Serin,Staten Island,Port Richmond,40.632222,-74.136715,Private room,79,1,0,NaN,NaN,6,359,0,NaN
38273,53662542,"LARGE PRVT ROOM, QUIET RESIDENCE PERFECTLOCATION",100146245,Serin,Staten Island,Port Richmond,40.630502,-74.136142,Private room,76,1,0,NaN,NaN,6,359,0,NaN
38274,53662772,King Room - Midtown Manhattan,337879004,Sinem,Manhattan,Midtown,40.753887,-73.980536,Private room,116,1,0,NaN,NaN,13,11,0,NaN
38275,53663081,King Room - Bryant Park.,337879004,Sinem,Manhattan,Midtown,40.755569,-73.981976,Private room,106,1,0,NaN,NaN,13,3,0,NaN
38276,53665099,★Luxury in the ❤of Bklyn | Fast Wi-Fi | Sleeps...,60105727,Lee,Brooklyn,Cypress Hills,40.677560,-73.894990,Entire home/apt,689,1,0,NaN,NaN,1,312,0,NaN

In [9]:
rslt_df = df[df['neighbourhood'] == "Sunset Park"]

In [10]:
rslt_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,2,2021-08-08,0.02,1,123,1,NaN
535,344092,"Heavy Sun, Quiet, Arty 1 Bedroom",1745402,Tony,Brooklyn,Sunset Park,40.643680,-74.021020,Entire home/apt,70,18,19,2016-06-05,0.16,1,0,0,NaN
613,450578,Serene Room...,9647066,Maria Luiza,Brooklyn,Sunset Park,40.637700,-74.017920,Private room,50,7,29,2019-08-10,0.34,2,351,0,NaN
704,528485,lovely private room in South Park Slope,17985,Sing,Brooklyn,Sunset Park,40.662720,-73.989130,Private room,42,30,8,2021-10-01,0.22,2,364,2,NaN
719,544039,Luxury 2-bdrm w Piano & Gym,2674637,Greta,Brooklyn,Sunset Park,40.644450,-74.002790,Entire home/apt,120,30,0,NaN,NaN,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37703,53433734,Traveler's Cozy Studio,33612342,Sayra,Brooklyn,Sunset Park,40.657480,-73.990310,Entire home/apt,95,1,0,NaN,NaN,2,94,0,NaN
37884,53501342,Nice room in Bayridge,433237033,Vincent,Brooklyn,Sunset Park,40.643848,-74.021327,Private room,58,4,0,NaN,NaN,1,74,0,NaN
38144,53607122,1-Bedroom Cozy & Convenient Brooklyn Escape,9117590,Samantha,Brooklyn,Sunset Park,40.643867,-74.012482,Private room,89,2,0,NaN,NaN,1,254,0,NaN
38155,53610853,Historic Row House Beauty w/ Backyard access,8619668,Linda,Brooklyn,Sunset Park,40.644514,-74.013162,Entire home/apt,120,10,0,NaN,NaN,1,12,0,NaN
38241,53646539,Brooklyn cozy studio with spacious backyard,33067672,Ivy,Brooklyn,Sunset Park,40.652670,-74.004209,Entire home/apt,100,30,0,NaN,NaN,2,31,0,NaN

In [14]:
print(rslt_df['price'].mean())
print(rslt_df['price'].std())

109.61837455830388
106.10386963037705

In [15]:
priv_df = rslt_df[rslt_df['room_type'] == "Private room"] 
priv_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
613,450578,Serene Room...,9647066,Maria Luiza,Brooklyn,Sunset Park,40.637700,-74.017920,Private room,50,7,29,2019-08-10,0.34,2,351,0,NaN
704,528485,lovely private room in South Park Slope,17985,Sing,Brooklyn,Sunset Park,40.662720,-73.989130,Private room,42,30,8,2021-10-01,0.22,2,364,2,NaN
864,681599,1 Affordable and cozy in Sunset Park,1182180,"Isaac, Linda & Noelia",Brooklyn,Sunset Park,40.650430,-74.003870,Private room,46,30,45,2021-08-24,0.41,4,188,1,NaN
1126,864981,Cozy Room in Charming Brownstone,1650330,Chandle,Brooklyn,Sunset Park,40.648050,-74.008860,Private room,59,30,46,2020-03-31,0.50,2,307,0,NaN
1195,940116,Bright Room in Historic Brownstone,1650330,Chandle,Brooklyn,Sunset Park,40.647410,-74.008440,Private room,59,5,44,2019-12-03,0.45,2,307,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36613,52952850,"Clean 1 bedroom in Brooklyn, Sunset Park",427142752,Linsha,Brooklyn,Sunset Park,40.643550,-74.020840,Private room,45,1,2,2021-11-22,2.00,3,19,2,NaN
36924,53109730,121816,119692067,Qiulan,Brooklyn,Sunset Park,40.644527,-74.001442,Private room,60,1,1,2021-11-14,1.00,7,338,1,NaN
37483,53353569,Cozy Bedroom in Sunset Park with shared kitchen,224301575,John,Brooklyn,Sunset Park,40.651050,-74.004340,Private room,50,30,1,2021-11-30,1.00,1,31,1,NaN
37884,53501342,Nice room in Bayridge,433237033,Vincent,Brooklyn,Sunset Park,40.643848,-74.021327,Private room,58,4,0,NaN,NaN,1,74,0,NaN
38144,53607122,1-Bedroom Cozy & Convenient Brooklyn Escape,9117590,Samantha,Brooklyn,Sunset Park,40.643867,-74.012482,Private room,89,2,0,NaN,NaN,1,254,0,NaN

In [18]:
print(priv_df['price'].mean())
print(priv_df['price'].std())

67.92413793103448
78.09788042708372

In [19]:
print(priv_df['number_of_reviews'].mean())
print(priv_df['number_of_reviews'].std())

18.875862068965517
33.034048671749424

In [23]:
priv_df['number_of_reviews'].corr(priv_df['price']*(365-priv_df['availability_365']))

-0.04970402460249881

In [25]:
priv_df.corr()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
id,1.000000,0.681615,-0.039650,-0.058329,0.098953,-0.196720,-0.186372,0.343452,0.297444,0.207313,0.306368
host_id,0.681615,1.000000,-0.155414,-0.148091,0.130306,-0.104176,-0.058694,0.256796,0.261429,0.223519,0.350377
latitude,-0.039650,-0.155414,1.000000,0.820888,0.040546,0.123029,0.060845,-0.150840,0.047828,-0.059020,-0.088963
longitude,-0.058329,-0.148091,0.820888,1.000000,-0.001394,0.051412,0.145645,-0.039656,-0.022081,-0.036455,-0.047987
price,0.098953,0.130306,0.040546,-0.001394,1.000000,-0.059532,-0.029602,-0.012966,-0.055319,0.037191,-0.003457
minimum_nights,-0.196720,-0.104176,0.123029,0.051412,-0.059532,1.000000,-0.246401,-0.275084,0.380093,-0.065909,-0.367706
number_of_reviews,-0.186372,-0.058694,0.060845,0.145645,-0.029602,-0.246401,1.000000,0.229861,-0.117992,0.112043,0.424088
reviews_per_month,0.343452,0.256796,-0.150840,-0.039656,-0.012966,-0.275084,0.229861,1.000000,0.134849,0.231121,0.476320
calculated_host_listings_count,0.297444,0.261429,0.047828,-0.022081,-0.055319,0.380093,-0.117992,0.134849,1.000000,0.275247,-0.085063
availability_365,0.207313,0.223519,-0.059020,-0.036455,0.037191,-0.065909,0.112043,0.231121,0.275247,1.000000,0.182651
number_of_reviews_ltm,0.306368,0.350377,-0.088963,-0.047987,-0.003457,-0.367706,0.424088,0.476320,-0.085063,0.182651,1.000000